.site.two-pane {
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.site.two-pane .site-pane-container {
  width:100%;
  position:absolute;
  top: 60px;
  bottom:0px;
}

.site.two-pane .site-left {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.site.two-pane .site-right {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0px;
  overflow: auto;
  padding:20px;
  box-sizing: border-box;
}

.img-placeholder {
  width:200px;
  height:180px;
  border:1px solid #cccccc;
  background: #cccccc;
  display:inline-block;
  margin:10px 10px 10px 0px;
}

.item {
  height:100px;
  border-bottom:1px solid #eeeeee;
}

.menu [data-placeholder] {
  background: #cccccc;
  color: #cccccc;
}

.menu {
  display:block;
  position:absolute;
  width: 100%;
  overflow:hidden;
  padding:10px;
  box-sizing: border-box;
  height:60px;
  background:#aaaaaa;
}

.menu-grouping {
  padding:5px;
  font-size:25px;
}

.menu-grouping.left {
  float:left;
}

.menu-grouping.right {
  float:right;
}