.site.full-screen-scroller {
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow:hidden;
}

.page {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.outer {
  display: table;
  height:100%;
  width:100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.transition-bottom-up {
  top: 100%;
  transition: top ease-out 360ms;
}

.transition-bottom-up.show {
  top: 0;
  z-index:999;
}

.page.raise {
  z-index:9999;
}

iframe {
  width: 90%;
  height: 90%;
  border:10px solid #999999;
}

.page-1 { background: #eee; color: #ccc; }
.page-2 { background: #ccc; color: #aaa; }
.page-3 { background: #aaa; color: #888; }
.page-4 { background: #888; color: #666; }
.page-5 { background: #666; color: #444; }