.site.two-pane {
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* -- TOP -- */
.top [data-placeholder] {
  background: #cccccc;
  color: #cccccc;
}

.top {
  display:block;
  position:absolute;
  width: 100%;
  overflow:hidden;
  padding:10px;
  box-sizing: border-box;
  height:60px;
  background:#aaaaaa;
}

.top-group {
  padding:5px;
  font-size:25px;
}

.top-group-left {
  float:left;
}

.top-group-right {
  float:right;
}


/* -- MAIN -- */
.main {
  width:100%;
  position:absolute;
  top: 60px;
  bottom:0px;
  overflow:hidden;
}

.main-left {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.main-right {
  position: absolute;
  width: 70%;
  right: 0px;
  bottom: 94;
  top:0;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px 20px;
}

.img-placeholder {
  width:200px;
  height:180px;
  border:1px solid #cccccc;
  background: #cccccc;
  display:inline-block;
  margin:10px 10px 10px 0px;
}

.item {
  height:100px;
  border-bottom:1px solid #eeeeee;
}

/* -- BOTTOM -- */
.bottom {
  position: absolute;
  bottom: 0px;
  height:94px;
  width:100%;
}

.bottom-right {
  position:absolute;
  right:0px;
  width: 70%;
  overflow:hidden;
  height:94px;
  background: #ffffff;
  box-sizing: border-box;
}

.textarea {
  position:absolute;
  width:70%;
  height:20px;
  margin: 38px;
}

.button {
  position: absolute;
  right: 0;
  width:10%;
  height:20px;
  margin: 38px;
}